.container {
    display: block;
}

.containerHeader{
    min-height: calc(100vh - rem);
    margin: 0 auto;
    max-width: 1120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        max-width: 640px;
    }
}

.ctaText{
    max-width: 600px;

    h1 {
        font-size: 3.5rem ;
        line-height: 4.5rem;
        margin-bottom: 2rem;
        font-weight: 900;
        margin-top: 2.5rem;
        color: var(--white);
    }
    span {
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--white);
    }
    button{
        background: rgb(242,90,53);
        background: linear-gradient(94deg, rgba(242,90,53,0.9136904761904762) 2%, rgba(241,118,56,1) 86%, rgba(241,140,58,1) 100%);
        border: 0;
        border-radius: 7px;
        margin-top: 2.5rem;
        padding: 1rem 1.8rem;  
        color: var(--white);
        font-weight: bold;
    }
}

.divisor{
   width: 100%; 
   bottom: 0;
   height: 1px;
   border-color: var(--gray-200);
}

.sectionContent{
    margin: 5.5rem auto;
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: center;

    section{
        max-width: 670px;
        padding: 0 2rem;
    }

    img{
        max-width: 550px;
    }

    h2{
        font-size: 2.2rem;
        line-height: 4.5rem;
        font-weight: 900;
        margin-top: 2.2rem;
        margin-bottom: 1rem;
        color: var(--white);
    }

    span{
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--white);
    }
}

.nextLevelContent{
    max-width: 1120px;
    margin: 6rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    h2{
        font-size: 2.8rem;
        line-height: 4.5rem;
        font-weight: 900;
        color: var(--white);
        
        span{
            font-size: 2.8rem;
            line-height: 4.5rem;
            font-weight: 900;
            color: var(--orange);
        }
    }
    span{
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--white);
    }

    button{
        background: rgb(242,90,53);
        background: linear-gradient(94deg, rgba(242,90,53,0.9136904761904762) 2%, rgba(241,118,56,1) 86%, rgba(241,140,58,1) 100%);
        border: 0;
        padding: 1rem 1.8rem;
        margin-top: 2.5rem;
        border-radius: 6px;
        color: var(--white);
        font-weight: bold;
    }
}

@media(max-width: 1095px) {
    .container{
        .containerHeader {
            padding: 0 2rem;

            button{
                display: block;
            }

            img{
                max-width: 600px;
            }
            div h1{
                font-size: 2.3rem;
            }
            div h2 {
                font-size: 2.3rem;

                span{
                    font-size: 2.3rem;
                }
            }
        }

        .sectionContent, .nextLevelContent{
            padding: 0 2rem;
        }
    }
}

@media(max-width: 950px){
    .container{
        .containerHeader{
            flex-direction: column;

            button{
                margin: 0 auto;
                margin-top: 1rem;
            }
            
            div img {
                max-width: 500px;
            }
            div h1{ 
                font-size: 3rem;
            }
            h2{ 
                font-size: 1rem;
            }
            img{
                margin-top: 2rem;
                max-width: 300px;
            }
        }
        .sectionContent{
            display: flex;
            flex-direction: column;

            img{
                margin-top: 2rem;
                max-width: 300px;
            }
        }
    }
}
